<body>
    <form action="/created" method="POST" class="formCreate-Edit">

        <!--Campo nome-->
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome: </label>
                <input type="text" class="form-control"  name="nome" id="nome">
            </div>
        <!--Fim do Campo nome-->

        <!--Campo Telefone-->
            <div class="mb-3">
                <label for="Telefone" class="form-label">Telefone: </label>
                <input type="text" class="form-control"  name="telefone" id="telefone" placeholder="+XX XX XXXXX-XXXX">
            </div>
        <!--Fim do Campo Telefone-->

        <!--Campo Origem-->
            <div class="mb-3">
                <label for="Origem" class="form-label">Origem: </label>
                <input type="text" class="form-control"  name="origem" id="origem">
            </div>
        <!--Fim do Campo Origem-->  

        <!--Campo Data de Contato-->
            <div class="mb-3">
                <label for="dt_contato" class="form-label">Data de Contato:</label><br>
                <input type="date" name="dt_contato" id="dt_contato">
            </div>
        <!--Fim do Campo Data de contato-->

        <!--Campo Observação-->
            <div class="mb-3">
                <label for="Observação" class="form-label">Observação:</label>
                <textarea class="form-control"name="observacao" id="observacao" rows="3"></textarea>
            </div>
        <!--Fim do Campo Observação-->

        <!--Botão Formulario-->
            <button type="submit">Cadastrar</button>
        <!--Botão Formulario-->
    </form>
</body>